NODE_ENV =
PORT =
ALLOW_CORS = "<this should be client's origin, at development environment using react usually is http://localhost:3000>"

## For db
## At development
DB_USER = postgres
DB_PASSWORD = postgres
DB_NAME = ordersmanager
DB_HOST = siri-db-dev
DB_PORT = 4321 "<---- changed default postgre port (5432) in order to avoid conflicts"
## At production
DATABASE_URL =
##